<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
    <a href="/public/stylesheets/style.css" type="stylesheet"></a>
  </head>
  <body>
    <%- include('navbar'); -%>
    <center>
  <h1>O MELHOR TRABALHO DE TODO UNIVERSO!</h1>
</center>
  </body>
</html>
