<nav class="navbar navbar-dark bg-primary">
    <li class="nav-item">
        <a class="navbar-brand" href="/">Pagina Inicial</a>
        <a class="navbar-brand" href="/trabalheConosco">Vagas de emprego</a>
        <a class="navbar-brand" href="/admin/posts">Noticias</a>
    </li>
</nav>
